#buttonSend {
    -fx-padding: 2;
    -fx-background-color: white;
    -fx-text-alignment: center;
}
#buttonSend:hover{
    -fx-background-color: orange;
}
#hboxbtn {
    -fx-alignment: center;
    -fx-text-alignment: center;
}
#textArea {
    -fx-background-position: right;
    -fx-text-align: center;
    -fx-background-color: red;
}

