#buttonSend {
    -fx-padding: 2;
    -fx-border-color: #FF7A00;
    -fx-background-color: #FF7A00;
    -fx-textFill="WHITE";

}
#buttonSend:hover{
    -fx-background-color: red;
}
#hboxbtn {
    -fx-alignment: center;
    -fx-text-alignment: center;
}
#textArea {
    -fx-background-position: right;
    -fx-text-align: center;

}

style=" " text="SEND" textAlignment="CENTER" textFill="WHITE" wrapText="true" HBox.hgrow="ALWAYS"